:root {
  --color1: #87cefa;
  --color2: #5B7FC5;
  --fontsize1: 36px;
  --fontsize2: 20px;
  --fontfamily: Verdana, Geneva, Tahoma, sans-serif;
  --borderwidth2: 5px;
}


/* below navigation section custom CSS */


.navigation {
background: var(--color1);
}

.navbar {
--bs-navbar-padding-y: 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
font-size: var(--fontsize1);
font-weight: 600;
font-family: var(--fontfamily);
background: var(--color2);
color:  var(--color1);
padding: 0 20px 0 25%;
margin-top: 10px;
margin-bottom:10px;
}

.nav-link {
  font-size: var(--fontsize2);
  color: var(--color2);
  text-decoration: underline;
  font-weight: 600;
  font-family: var(--fontfamily);
  padding-left: 10px;
  }

#navbarNav{
  padding-right: 20px;
}

.container-fluid {
--bs-gutter-x: none;
padding-right: 10px;
}

.navbar-brand:hover {
  color: var(--color1);
}


/* below hero section custom CSS */


.heroimage {
background-image: url(./Images/Hero-Image5.jpg);
margin-bottom: 0px !important;
padding-bottom: 20px !important;
border-radius: 0px !important;
}


.herotextposition {
display: flex;
justify-content: flex-end;
padding-top: 90px !important;
padding-bottom:  0px !important;
}

.herotextformat {
background: var(--color2);
padding: 5px;
font-family: var(--fontfamily);
color: var(--color1);
font-size: var(--fontsize1);
}
